/* Banner.css */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Roboto:wght@100&family=Rubik:wght@300&display=swap');
.banner-container {
    width: 1200px;
    padding: 30px 127px;
    position: absolute;
    background: white;
    top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 192px;
    height: 36px;
  }
  
  .logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
  }
  
  /* Adicione mais estilos conforme necessário */
  